## macOS
.DS_Store

## Obsidian
# exclude workspace cache
workspace.json
workspace-mobile.json
# exclude graph configuration due to its dynamic nature
graph.json

# WeRead Plugin Data
plugins/obsidian-weread-plugin/data.json

# Omnisearch Plugin Cache
plugins/text-extractor/cache/*
